<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templates/style.css"/>
</head>
<body>
    <div>
        <header>
            <h1>Welcome to home page</h1>
        </header>
        <main>
            <button class="button">Load Data</button>
        </main>
    </div>
    <script src="/templates/script.js">
    </script>
</body>
</html>